* {
    margin: 0px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    display: flex;
    background-color: #232f3e;
    box-shadow: 0px 1px 2px #232f3e;
}

h1 {
    color: coral;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background: transparent;
    padding: 7px;
}

table {
    border: 1px solid black;

    border-collapse: separate;
    border-spacing: 0px;
    min-width: max-content;
}

th {
    position: sticky;
    top: 0px;
    color: white;
    background-color: teal;
}

.table-wrapper {
    max-height: 300px;
    overflow-y: scroll;

    margin: 20px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

.outer-wrapper {
    border: 1px solid black;
    box-shadow: 0px 0px 3px black;

    margin: 20px;
    border-radius: 5px;
    max-width: fit-content;
}